# Themenblock 1 - Teil 1

# Variablen & Datentypen
Arrays/ Hashes
Operatoren

Print und puts

In [1]:
 #Methode print
5.times do print "Test" end

TestTestTestTestTest

5

In [2]:
 #Methode puts
 5.times do puts "Test" end

Test
Test
Test
Test
Test

5

Variablen

In [3]:
#parallele Zuweisung:
a,b = 1,2

[1, 2]

In [4]:
x,y,z = 5,6

[5, 6]

In [5]:
w,v = 8,9,0

[8, 9, 0]

# AUFGABEN

Aufgabe 1:

Schreibe ein Ruby Programm, das von 3 bis 1 runterzählt und im Anschluss “Los geht's!” ausgibt:
Tipp: Verwende downto-Methode

In [ ]:
#Lösung
3.downto...

Aufgabe 2:

Verwende die each-Methode um die folgende Ausgabe zu bekommen:
a -- b -- c --

In [ ]:
#Array-Initialisierung
a = [ "a", "b", "c" ]

#Loesung:
a.each

In [11]:
#Beispiel mit Range

a -- b -- c --

"a".."c"

Erstelle ein Ruby Programm, das  über ein Array oder Range mit Zahlen iteriert und teilt die Werte in zwei Gruppen: gerade und ungerade Zahlen.
Tipp: Verwende group_by-Methode

In [7]:
#Lösung

{1=>[1, 3, 5], 0=>[2, 4]}

Aufgabe 3

Initialisiere einen Array mit Zahlen von 1 bis 20. Verwende die each-Methode um über Array zu iterieren und gebe jeden Wert aus.

Die Ausgabe soll wie gefolgt aussehen:
1234567891011121314151617181920

In [3]:
#Array-Initialisierung 
a =

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [45]:
#Ausgabe mithilfe print-Methode 
a.each

1234567891011121314151617181920

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [46]:
#Füge die erste Buchstabe deines Namens als ASCII-Wert an der letzten Stelle im Array ein

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 77]

In [47]:
#Lösche das fünfte Element aus Array

5

Aufgabe 4:

Grupiere die Elemente aus folgendem Hash in zwei Gruppen: “Nicht bestanden” und “Bestanden”, wenn die Anahl der Punkte größer als 30 ist.
Tipp: Verwende Ternär Operator ?

In [14]:
#Hash Initialisierung
noten = {"Anna" => 30, "Stefan" => 60, "Maria" => 40, "Tom" => 20}

#Lösumg

{"Nicht bestanden"=>[["Anna", 30], ["Tom", 20]], "Bestanden"=>[["Stefan", 40], ["Maria", 60]]}