# Themenblock 1 - Teil 1

Print und puts

In [ ]:
 #Methode print
5.times do print "Test" end

In [ ]:
 #Methode puts
 5.times do puts "Test" end

Variablen

In [ ]:
#parallele Zuweisung:
a,b = 1,2

In [ ]:
x,y,z = 5,6

In [ ]:
w,v = 8,9,0

Operatoren

eql?-Opertaor
Vergleicht Wert und Typ

In [ ]:
a = 2; b = 2.0; c = 2.0

In [ ]:
a.eql?(b)

In [ ]:
c.eql?(b)

In [ ]:
a == b

In [ ]:
c == b

equel?-Operator
Check auf dieselben Objekte

In [ ]:
a = "Hallo Welt"; b = "Hallo Welt"
c = a

In [ ]:
a.equal?(b)

In [ ]:
a.equal?(c)

In [ ]:
a == b

In [ ]:
a == c

defined?-Operator
Der Operator prüft, ob sein Argument definiert ist

In [ ]:
puts defined?k

In [ ]:
k = 22
defined? k

In [ ]:
defined? u=1

In [ ]:
defined? puts

In [ ]:
w = nil

In [ ]:
defined? w

In [ ]:
w.nil?

Splat -Operator (*)

In [56]:
a, b, c, d, e = *[1,2,3],*[4,5]
print a, " ", b, " ", c, " ", d, " ",e

1 2 3 4 5

In [57]:
a,* c = 1,2,3,4,5,6,7 
puts a
print c

1
[2, 3, 4, 5, 6, 7]

In [58]:
*a, d = 1,2,3,4,5,6,7,8
puts d
print a

8
[1, 2, 3, 4, 5, 6, 7]

In [59]:
a,* b = 1
puts a
print b

1
[]

Double Bange Operator !!

In [61]:
r = "Hallo"

"Hallo"

In [62]:
!r

false

In [63]:
!!r

true

In [64]:
t = nil

In [65]:
!!t

false

In [66]:
!t

true

Ternär Operator, ?

In [67]:
alter = 10
typ = alter < 18 ? "Kind" : "Erwachsener"
puts "Der Benutzer ist ein  " + typ

Der Benutzer ist ein  Kind

Symbols

In [ ]:
Person1 = { Name: "Fred", Alter: 20, Geschlecht: :männlich }
Person2 = { Name: "Laura", Alter: 23, Geschlecht: :weiblich }

Hash

In [ ]:
#Initialisierung
hs = {katze: "Felix", hund: "Rex"}

In [ ]:
#Iteration über ein Hash
hs.each { |key, value| puts "#{key} heißt #{value}" }

# AUFGABEN

Aufgabe 1

Schreibe ein Ruby Programm, das von 3 bis 1 runterzählt und im Anschluss “Los geht's!” ausgibt:
Tipp: Verwende downto-Methode

In [ ]:
3.downto

Aufgabe 2

Verwende die each-Methode um die folgende Ausgabe zu bekommen:
#a -- b -- c --

In [ ]:
#Array-Initialisierung
a = [ "a", "b", "c" ]

#Loesung:

In [ ]:
#Lösung mit Range

Aufgabe 3

Erstelle ein Ruby Programm, das  über ein Array oder Range mit Zahlen iteriert und teilt die Werte in zwei Gruppen: gerade und ungerade Zahlen.
Tipp: Verwende group_by-Methode

In [ ]:
#Lösung mit Range

Aufgabe 4

Initialisiere einen Array mit Zahlen von 1 bis 20. Verwende die each-Methode um über Array zu iterieren und gebe jeden Wert aus.

Die Ausgabe soll wie gefolgt aussehen:
1234567891011121314151617181920

In [ ]:
#Array-Initialisierung durch ein Range

In [ ]:
#Ausgabe mithilfe print-Methode

In [ ]:
#Füge die erste Buchstabe deines Namens als ASCII-Wert
#an der letzten Stelle in Array ein

In [ ]:
#Lösche das fünfte Element aus Array

In [ ]:
#Füge mehrere Elemente am A am Anfang der Liste

In [ ]:
#Gebe die Summe über alle Zahle in Array aus

Aufgabe 5

Grupiere die Elemente aus folgendem Hash in zwei Gruppen: “Nicht bestanden” und “Bestanden”, wenn die Anahl der Punkte größer als 30 ist.
Tipp: Verwende Ternär Operator ?

In [ ]:
noten = {"Anna" => 30, "Stefan" => 60, "Maria" => 40, "Tom" => 20}
noten.group_by