# Lösungen Funktionale Programmierung

> Bei jeder Aufgabe soll sowohl eine imperative als auch funktionale Lösung angegeben werden.

1. Gegeben ist eine Liste mit Namen.  
a) In einem ersten Schritt sollen alle Personen mit 2 oder mehr Vornamen herausgefiltert werden. Im Anschluss sollen diese nach ihrem 2. Vornamen alphabetisch sortiert werden.  
b) Welcher ist der längste Name davon?  
c) Wie lange ist dieser?

In [ ]:
names = ["Daniel Jacob Radcliffe", "Rupert Alexander Lloyd Grint", "Emma Charlotte Duerre Watson", "Bonnie Francesca Wright", "Matthew Lewis", "Margaret Natalie Smith", "Garry Oldman", "Ralph Fiennes", "Alan Rickman"]

In [ ]:
# Imperativ
# a) Array sollte die Länge 5 haben und mit Rupert beginnen
filtered = []
for n in names
    if n.split(" ").length > 2
        filtered << n
    end
end

leng = filtered.length - 1
for i in 0...leng
    for j in 0...(leng - i)
        compare = filtered[j].split(" ")[1] <=> filtered[j+1].split(" ")[1]
        if compare == 1 then
            tmp = filtered[j];
            filtered[j] = filtered[j+1];
            filtered[j+1] = tmp
        end
    end
end

# b) Emma oder Rupert
#     ....
#        compare = filtered[j].length - filtered[j+1].length
#    für Emma:
#        if compare <= 0 then
#    für Rupert
#        if compare < 0 then
#     .....
#name = filtered[0]

# c) 28
# ... b)
# name.length

In [ ]:
# Funktional

# a) Array sollte die Länge 5 haben und mit Rupert beginnen
names.select { |n|
    n.split(" ").length > 2
}
.sort { |prev, curr|
    prev.split(" ")[1] <=> curr.split(" ")[1]
}

# b) Emma Charlotte Duerre Watson
names.select { |n|
    n.split(" ").length > 2
}
.sort { |prev, curr|
    prev.length - curr.length
}
.last

# oder Rupert Alexander Lloyd Grint
names.select { |n|
    n.split(" ").length > 2
}
.sort { |prev, curr|
    curr.length - prev.length
}
.first

# c) 28 (auch hier wieder 2 Lösungen)
names.select { |n|
    n.split(" ").length > 2
}
.sort { |prev, curr|
    prev.length - curr.length
}
.last
.length

2. Was ist die Summe der ersten 10 natürlichen Zahlen, deren Quadrat durch 5 teilbar ist?

In [ ]:
# Imperativ 275
n, num_elements, sum = 1, 0, 0
while num_elements < 10
    if n**2 % 5 == 0
        sum += n
        num_elements += 1
    end
    n += 1
end

In [ ]:
# Funktional 275
(1...999).select { |x|
    x**2 % 5 == 0
}
.take(10)
.inject(:+)